<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>我的</title>
	
	<!-- 以前的样式；底部有用到 -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/faxianye.css">
	<style>
		
		.footer {
			width: 100%;
			background: rgba(248,248,248,1);
			border-top: 1px solid #cdcdcd;
			position: fixed;
			bottom: 0;
			min-width: 320px;
			max-width: 750px;
		}
		
	</style>
    <!-- end -->
	
    <link rel="stylesheet" href="../css/wode.css"/>
	
</head>
<body>
    <div class="wode">
        <div class="wo-nav">
            <div>
                <i><a href="javascript:void(0)" onclick="addFriend()"><img src="../img/tianjiahaoyou.png" alt=""/></a></i>
                <i><a href="member_account.html"><img src="../img/shezhi.png" alt=""/></a></i>
            </div>
        </div>
        <div>
            <div class="geren-t-bg">
                <div class="wo-toubu">
                    <img src="../img/05159502436375878.jpg" alt=""/>
                    <span class="wodetouxiang"><img id="member_avatar" src="" alt=""/></span>
                </div>
            </div>
            <div class="wo-xinxi">
                <span id="member_name"></span>
                <i id="member_areainfo"></i>
                <div>
                    <ul class="guanzhu">
                        <li>
                            <i>关注的人</i>
                            <span id="interested_person">0</span>
                        </li>
                        <li>
                            <i>我的粉丝</i>
                            <span id="fans">0</span>
                        </li>
                        <li>
							<a href="favorites_showcase.html">
                            <i>关注橱窗</i>
                            <span id="member_showcase">0</span>
							</a>
                        </li>
                    </ul>
                    <div style="clear: both;"></div>
                    <ul class="xiaofei">
                        <li>
                            <a href="order_list.html"><img src="../img/wodedingdang.png" alt=""/></a>
                            <i>我的订单</i>
                        </li>
                        <li>
                            <a href="favorites_store.html"><img src="../img/guanzhudianpu.png" alt=""/></a>
                            <i>关注店铺</i>
                        </li>
                        <li>
                            <a href="goods.favoritesList.html"><img src="../img/xinyuandan.png" alt=""/></a>
                            <i>心愿单</i>
                        </li>
                        <li>
                            <a href="my_like.html"><img src="../img/wozanguo.png" alt=""/></a>
                            <i>我赞过的</i>
                        </li>
                        <li>
                            <a href=""><img src="../img/luckbox.png" alt=""/></a>
                            <i>Lucky Box</i>
                        </li>
                        <li>
                            <a href="member_asset.html"><img src="../img/wodezhichang.png" alt=""/></a>
                            <i>我的资产</i>
                        </li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="guangchuc" id="showcase">
				
					
            </div>
        </div>
        
		<div class="fxsj" id="my_moment"></div>
		
    </div>
	<div class="footer-top"></div>
    <footer id="footer" class="fixed-Width"></footer>
	
	<!-- 我的橱窗 add by lizh 19:50 2016/7/19 -->
    <script type="text/html" id="showcase_model">
		
		<div class="gcc-tit">
			<span>我的橱窗 .<i><%=member_info.micro_personal_class_list_count%></i></span>
			<a href="more_myself_showcase.html"><i>查看所有></i></a>
		</div>
		<div style="clear: both;"></div>
		<div class="chuc-list">
			<div class="chuc-m">
		<% if(micro_personal_class_list != null) { %>
		   <ul style="width: <%=200*member_info.micro_personal_class_list_count;%>px;">
			<% for(var i in micro_personal_class_list) { %>
			   <li>
				   <div class="shunjian-tit">
						<span>
							<i><a href="../chuchuangzhuye.html?favorites_class_id=<%=micro_personal_class_list[i].favorites_class_id;%>"><%=micro_personal_class_list[i].favorites_class_name%></a></i>
							<i><a href="../chuchuangzhuye.html?favorites_class_id=<%=micro_personal_class_list[i].favorites_class_id;%>">共<%=micro_personal_class_list[i].micro_personal_count%>个瞬间</a></i>
						</span>
					   <span>
						<% if(micro_personal_class_list[i].visible_state) {%>
						<img src="../img/gongkai.png" alt=""/>
						<%}else { %>
						<img src="../img/bugongkai.png" alt=""/>
						<% } %>
						</span> 
					   <div style="clear: both;"></div>
				   </div>
					<% if(micro_personal_class_list[i].micro_personal != null){ %>
					   <ul class="shunj-pic">
						<% for(var n in micro_personal_class_list[i].micro_personal) { %>
						   <li><a href="../chuchuangzhuye.html?favorites_class_id=<%=micro_personal_class_list[i].favorites_class_id;%>"><img src="<%=micro_personal_class_list[i].micro_personal[n].commend_image;%>" alt=""/></a></li>
						<% } %>
					   </ul>
					<% } %>
				   <div style="clear: both;"></div>
			   </li>
			<% } %>
			   
		   </ul>
		<% } %>
			</div>
		</div>
    </script>
	
	<!-- 我的瞬间 add by lizh 10:34 2016/7/12 -->
    <script type="text/html" id="my_moment_model">
		
		<div class="shunjian-tit">
			<div class="gcc-tit">
                <span>我的瞬间 .<i><%=micro_personal.length%></i></span>
			</div>
			<div style="clear: both;"></div>
		</div>
		<ul>
			<li>
				<a href="/wap/tmpl/share_moment.html"><img src="../img/fenxiangshunj.png" alt=""/></a>
                <i>分享瞬间</i>
			</li>
			<% if(micro_personal != null){ %> 
		
			<% for(var i in micro_personal) { %>
			<li>
				<a href="/wap/tmpl/shunjianziye.html?personal_id=<%=micro_personal[i].personal_id;%>"><img src="<%=micro_personal[i].commend_image%>" alt=""/></a>
			</li>
			<% }%>
		
		<% }%>
		</ul>
		<div style="clear: both"></div>
		
    </script>
	
	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript" src="../js/zepto.min.js"></script> 
	<script type="text/javascript" src="../../js/template.js"></script>
	<script type="text/javascript" src="../../js/common.js?g"></script>
	<script type="text/javascript" src="../../js/tmpl/wode_1_5.js"></script>
	<script type="text/javascript" src="../../js/tmpl/footer.js"></script>
	
	
</body>
</html>