*{margin: 0;padding: 0;font-style:normal;list-style: none;border:none; color:#333333;}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
body{
    font-family: "Microsoft YaHei";
    background: #f0f0f0;
}
.biankuang{
    min-width: 320px;
    max-width: 750px;
    margin: auto;
}
.faxian-main{
    padding-top: 50px;
    padding-bottom: 70px;
}
.nav-one{
    min-width: 320px;
    max-width: 750px;
    width: 100%;
    height:45px;
    background: #343a48;
    line-height: 45px;
    position: fixed;
}
.nav-one ul{
    margin: auto;
    width:52.4%;
}
.nav-one ul li{
    float: left;
    color: #ffffff;
    text-align: center;
    width: 33%;
}
.nav-one ul li:hover{
    border-bottom: 2px solid #ffffff;
    height: 43px;
}
.gouwuche{
    position: relative;
   right: -9.6%;
    top:8px;
}
.gouwuche img{
    width:8%;
}
.gouwuche i{
    background: #14ceb6;
    color: #ffffff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    position: absolute;
    top: -16px;
    left: 20px;
}
.shangping-m{
    width: 46.5%;
    background: #ffffff;
    float: left;
    overflow: hidden;
}
.shangping-m:nth-child(2n){
    float: right;
    margin-right: 2.1%;
    margin-top: 4px;
    margin-bottom: 4px;
}
.shangping-m:nth-child(2n+1){
    float: left;
    margin-left: 2.1%;
    margin-top: 4px;
    margin-bottom: 4px;
}
.cp-pic{
    width: 100%;
}
.cp-pic>img{
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
}
.cp-text >i:nth-child(1),.cp-text >i:nth-child(2){
    text-align: center;
    font-size: 14px;
    color: #666666;
    display: block;
    margin-top: 6px;
}
.cp-text >i:nth-child(1){
    text-align: left;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    margin: 10px 4.5%;
}
.cp-text >i:nth-child(2){
    font-size: 13px;
    color: #333333;
    margin-top: 4px;
}
.liwu {
    display:block;
    width: 90%;
    border-top: 1px solid #eeeeee;
    margin: auto;
}
.liwu>i:nth-child(2){
    text-align: right;
    font-size: 12px;
    float: left;
    margin-top: 4px;
    padding: 10px 0;
}
.liwu> img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
   margin-right: 5px;
    padding: 10px 0;
}
.liwu > i:nth-child(3){
    float: right;
    font-size: 10px;
    color: #999999;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 4px;
    padding: 10px 0;
}
.liwu>i>img{
    width: 14px;height: 12px;
    margin-left: 4px;
    vertical-align: -1px;
/*}
.footer{
    width: 100%;
    background: rgba(248,248,248,0.8);
    border-top: 1px solid #cdcdcd;
    position: fixed;
    bottom: 0;
    min-width: 320px;
    max-width: 750px;

}
.footer ul{
}
.footer ul li{
    width: 20%;
    text-align: center;
    float: left;
    margin: 8px 0;

}
.footer dl dt{
}
.footer dl dt i{
    width: 38%;
    display: inline-block;
    height: 27px;
    background: url("../img/footericon.png") no-repeat center;

}
.footer .footer-one dt i{
    background-position: -175px -55px;
}
.footer .footer-two dt i{
    background-position: -73px -55px;
}
.footer .footer-thr dt i{
    background-position: -236px -55px;
}
.footer .footer-for dt i{
    background-position: -123px -55px;
}
.footer .footer-fir dt i{
    background-position: -25px -55px;
}

.footer .footer-one dt i:hover{
    background-position: -175px -16px;
}
.footer .footer-two dt i:hover{
    background-position: -73px -16px;
}
.footer .footer-thr dt i:hover{
    background-position: -236px -16px;
}
.footer .footer-for dt i:hover{
    background-position: -123px -16px;
}
.footer .footer-fir dt i:hover{
    background-position: -25px -16px;
}
.footer dl dd{
    font-size: 12px;
    vertical-align:middle;
    color: #7b828c;
}*/