<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^page/(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=page&amp;key={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^newscat/(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=newscat&amp;cat_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^newscat/(\w+)-(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=newscat&amp;cat_id={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^news/(\d+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=news&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^productcat/(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=productcat&amp;cat_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^productcat/(\w+)-(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=productcat&amp;cat_id={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 7">
                    <match url="^product/(\d+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=product&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 8">
                    <match url="^downcat/(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=downcat&amp;cat_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^downcat/(\w+)-(\w+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=downcat&amp;cat_id={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 10">
                    <match url="^down/(\d+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=down&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 11">
                    <match url="^books.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?g=Web&amp;m=Web_index&amp;a=books" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
