*{margin: 0;padding: 0;font-style:normal;list-style: none;border:none;text-decoration: none; }
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
body{
    font-family: "Microsoft YaHei";
}
.nav{
    max-width: 1920px;
    background: #343a48;
    margin: auto;
    font-size: 14px;
    height: 60px;
    line-height: 60px;

    color:#ffffff;
}
.nav-left{
    float: left;
    width: 18.75%;
    margin-left: 40px;
    height: 56px;
    margin-top: 4px;
}
.nav-right{
    float: right;
    width: 36%;
    padding-left: 40px;
    margin-right: 40px;
}
.nav-ll{
    float: left;
}
.nav-rr{
    float: right;
}
.nav-rr span{
    cursor: pointer;
}
.nav-ll> span:nth-child(4){
   margin-left: 48px;
}
.nav-ll >span:nth-child(3){
   margin-left: 38px;
}
.nav-ll >span:nth-child(2){
   margin-left: 30px;
}
.nav-rr >span:nth-child(2){
    margin-left: 24px;
}
.nav-ll span{
   float: left;
    cursor: pointer;
}
.shousuo{
    background: #7a8397;
    text-align: right;
    width: 200px;
    height: 60px;
    position: relative;
    float: right;
}
.shousuo input{
    width:calc(100% - 90px);
    float: left;
    height: 60px;
    border: none;
    background: #7a8397;
    color: #ffffff;
    outline:medium;
    font-size: 16px;
    margin-left: 7px;
}
.shousuo >i{
    margin-right: 20px;
     float: right;

}
.shousuo img{
    vertical-align: -4px;
    display: inline-block;
    margin-right: 5px;
    width: 20px;
}
.shousuo-guanjian{
    width: 100%;
    height: 150px;
    background: #ffffff;
    right: 0;
    top: 60px;
    color: #333333;
    position: absolute;
    display: none;
}
.shousuo-guanjian i{
    color: #333333;
    display: block;
    width: 100%;
    text-align: left;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #f0f0f0;

}
.gouwuche{
    width: 32px;
    height: 28px;
    margin-top: 9px;
    margin-left: 30px;
    position: relative;
}
.gouwuche img{
    width: 100%;
    height: 100%;
}
.gouwuche i{
    position: absolute;
    background: #14ceb6;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 0;
    text-align: center;
    line-height: 22px;
    right: -10px;
}
.weidenglu{
    display: block;
}
.yidenglu{
   display: block;
}
.yidenglu img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}
.yidenglu{
    position: relative;
}
.yidenglu:hover .ab-out{
    display: block;
}
.ab-out{
    position: absolute;
    background: #ffffff;
    color: #333333;
    width: 80px;
    height: 80px;
    -webkit-box-shadow:0 0 10px rgba(165, 165, 165, .5);
    -moz-box-shadow:0 0 10px rgba(165, 165, 165, .5);
    box-shadow:0 0 10px rgba(165, 165, 165, .5);
    left:calc((100% - 80px)/2);
    display: none;
	z-index:10;
}
.ab-out >u{
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
    position: absolute;
    top: -5px;
    left: calc((100% - 20px)/2);
}
.ab-out i{
    display: block;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
}
.youmingtang{
    position: relative;
}
.youmingtang:hover .ymt-ziye{
   display: block;
}
.ymt-ziye{
    position: absolute;
    background: #ffffff;
    color: #333333;
    width: 60px;
    height: 80px;
    -webkit-box-shadow:0 0 10px rgba(165, 165, 165, .5);
    -moz-box-shadow:0 0 10px rgba(165, 165, 165, .5);
    box-shadow:0 0 10px rgba(165, 165, 165, .5);
    left:calc((100% - 60px)/2);
    display: none;
	z-index:10;
}
.ymt-ziye u{
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
    position: absolute;
    top: -5px;
    left: calc((100% - 20px)/2);
}
.ymt-ziye i{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.feileishousuo{
    height: 54px;
    float: right;
}
.feilicon{
    background: url("../newimg/feileishousuo.png");
    width: 32px;
    height: 17px;
    background-position: 0 0;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
.feilicon:hover ,.feilicon.hover {
    background-position: -44px 0;
}
.flss-main{
    background: #ffffff;
    display: none;
    position: fixed;
    margin: auto;
	z-index:10;
}
.fenleiyi{
    height: 54px;
    border-bottom: 2px solid #eeeeee;
    margin: auto;
}
.fenleiyi ul{
   margin: auto;
    width: 1200px;
}
.fenleiyi ul li{
    float: left;
    color: #333333;
    font-size: 18px;
}
.fenleiyi ul li:nth-child(even){
   margin: 0 38px;
    color: #eeeeee;
}
.fenleiyi ul li:nth-child(odd):hover{
 border-bottom: 2px solid #14ceb6;
    color: #14ceb6;
    height: 54px;
}
.fenleier{
    height: 56px;
}
.fenleier ul{
    text-align: center;
}
.fenleier ul li{
    display: inline-block;
    color: #333333;
    font-size: 18px;
    margin: 0 39px;
}
.fenleier ul li:hover{
    color: #14ceb6;
}