<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <title>商品详情</title>
    <link rel="stylesheet" href="css/idangerous.swiper.css"/>
    <link rel="stylesheet" href="css/xiangqingye.css"/>
    <script src="../js/tmpl/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/idangerous.swiper.min.js"></script>
    <style>
        iframe{
            z-index: 55;
            position: fixed;
            top: 0;
            display: none;
            left: 0;
        }
    </style>
    <!--微信分享JS-->
    <script type="text/javascript" src="../js/zepto.min.js"></script> 
    <script src="../js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../js/wx_share.js"></script>
</head>
<body>
	<div class="xqy">
       <div class="lian-nav">
           <a href="javascript:history.go(-1)"><i class="back"></i></a>
       </div>
	   
	   <div class="device" id="head_swiper">
           
       </div>
	   
       <div class="chanpin" id="product_detail">
           
       </div>
	</div>
	<div class="buynow" id="choose_the_specifications">
       
	</div>
	<div class="bingpic" id="closeone" >
		<div class="closeone" onclick="aa(this)" >x</div>
		<div class="juzhong" >
			<img id="bingpic" src="" alt=""/>
		</div>
	</div>
	<script>
		function aa(close){
			close.parentNode.style.display="none";
		}
	</script>
		
	<!--微信分享-->
	<iframe src="fenxianggengduo.html" id="iframepage" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onLoad="reinitIframe()" ></iframe>
	<script>
		var ifm= document.getElementById("iframepage");
		//**********遮罩的******
		function zhaozhao(){
			ifm.style.display="block";
		}
		//**********设置高度*******
		function reinitIframe(){
			ifm.height=document.documentElement.clientHeight;
		}
		//*****************添加点击事件的机制******************
		var IframeOnClick = {
			resolution: 200,
			iframes: [],
			interval: null,
			Iframe: function() {
				this.element = arguments[0];
				this.cb = arguments[1];
				this.hasTracked = false;
			},
			track: function(element, cb) {
				this.iframes.push(new this.Iframe(element, cb));
				if (!this.interval) {
					var _this = this;
					this.interval = setInterval(function() { _this.checkClick(); }, this.resolution);
				}
			},

			checkClick: function() {
				if (document.activeElement) {
					var activeElement = document.activeElement;
					for (var i in this.iframes) {
						if (activeElement === this.iframes[i].element) { // user is in this Iframe
							if (this.iframes[i].hasTracked == false) {
								this.iframes[i].cb.apply(window, []);

								this.iframes[i].hasTracked = true;
							}
						} else {
							this.iframes[i].hasTracked = false;
						}
					}
				}
			}
		};
		IframeOnClick.track(document.getElementById("iframepage"), function() { ifm.style.display="none";});

	</script>
	
	<script type="text/html" id="choose_the_specifications_model">
		
		<div class="jairugouwuche" id="jairugouwuche">
           <div class="shangping">
				<% goods_image = goods_image.split(","); %>
				<span class="goods-pic"><img src="<%=goods_image[0]%>" alt=""/></span>
				<span>
					<% if (goods_info.promotion_type) { %>
					<%
						var promo;
						switch (goods_info.promotion_type) {
							case "groupbuy": promo = '团购'; break;
							case "	": promo = '限时折扣'; break;
							case "sole": promo = '手机专享'; break;
						}
					%>
					<i>¥<%=goods_info.promotion_price%></i>
					<span class="activity">
						<% if (promo) { %>
							<%= promo %>
						<% } %>
					</span>
					<% } else { %>
						<i>¥<%=goods_info.goods_price%></i>
					<% } %>
                   <u>库存<%=goods_info.goods_storage%>件</u>
				</span>
               <span id="close">X</span>
               <div style="clear: both"></div>
           </div>

			<% if(goods_map_spec.length>0){ %>
			
				<% for(var i =0;i<goods_map_spec.length;i++){%>
					<div class="yanse">
						
						<div><%=goods_map_spec[i].goods_spec_name%></div>
						<ul class="spec">
						
							<%for(var j = 0;j<goods_map_spec[i].goods_spec_value.length;j++){%>
								<li specs_value_id = "<%=goods_map_spec[i].goods_spec_value[j].specs_value_id%>" <%if (goods_info.goods_spec[goods_map_spec[i].goods_spec_value[j].specs_value_id]){%> class="hover" <%}%>><%=goods_map_spec[i].goods_spec_value[j].specs_value_name%></li>
							<%}%>

						</ul>
						
					</div>
					<div style="clear: both"></div>
				<% } %>
			<% } %>
			<% if (goods_info.is_virtual == "1") { %>
				<div class="yanse">
					<div>提货方式：</div>
					<ul class="spec"><li class="hover">电子兑换券</li></ul>
				</div>
				<div class="yanse">
					<div>有效期：</div>
					<ul class="spec">
						<li class="hover">
							<% if (goods_info.buyLimitation && goods_info.buyLimitation > 0) { %>
							（每人次限购 <%= goods_info.buyLimitation %> 件）
							<% } %>
						</li>
					</ul>
				</div>
			<% } else { %>
				<% if (goods_info.is_presell == "1") { %>
				<div class="yanse">
					<div>预售：</div>
					<ul class="spec"><li class="hover"><%= goods_info.presell_deliverdate_str %> 日发货</li></ul>
				</div>
				<% } %>
				<% if (goods_info.is_fcode == "1") { %>
				<div class="yanse">
					<div>购买类型：</div>
					<ul class="spec"><li class="hover">F码优先购买（每个F码优先购买一件商品）</li></ul>
				</div>
				<% } %>
			<% } %>
			
			<div class="shuliang" >
               <div>数量</div>
               <ul id="jiajian">
                   <li onclick="calc(this)">-</li>
                   <li id="buynum">1</li>
                   <li onclick="calc(this)">+</li>
               </ul>
			</div>
       </div>
       <div class="buynow-m">
           <span id="buy-now"><img src="img/qianbao.png" alt=""/>立即购买</span>
           <span id="add-cart"><img src="img/addbag.png" alt=""/></span>
       </div>
		<script>
                    document.getElementById("close").onclick=function(){
			this.parentNode.parentNode.style.display="none";
                    };
                </script>
	</script>
	<script type="text/html" id="head_swiper_model">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<% var goods_image = goods_image.split(","); %>
				<% if(goods_image != null) { %>
				<% for(var i in goods_image ){ %>
			   <div class="swiper-slide"><img class="xianshi" src="<%=goods_image[i]%>" alt=""/></div>
			   <% } %>
			   <% } %>
			</div>
	   </div>
	   <div class="pagination">
			<% if(goods_image != null) { %>
			<% for(var i in goods_image ){ %>
		   <span class="swiper-pagination-switch"></span>
		   <% } %>
		   <% } %>
	   </div>
		<script>
		   var mySwiper = new Swiper('.swiper-container',{
			   pagination: '.pagination',
			   loop:true,
			   grabCursor: true,
			   paginationClickable: true,
			   onSlideClick:function(){
				   document.getElementById("closeone").style.display="block";
				   document.getElementById("bingpic").src=mySwiper.clickedSlide.children[0].src;
			   }
		   });
	   </script>
	</script>
	<script type="text/html" id="product_detail_model">
		<div class="guwu-l">
		   <div class="xinyuan" onclick="getFavorites(this,<%=goods_info.goods_id%>)">
			   <a href="javascript:void(0)"><span></span></a>
			   <span class="qipao" id="favorites_count"><%=goods_info.favorites_count%></span>
		   </div>
		   <ul>
			   <li><a href="../tmpl/cart_list.html"><img src="img/bag.png" alt=""/></a></li>
			   <li><a href="javascript:void(0)" onclick="get_wx_share(this)" title1='<%=goods_info.goods_name%>' imgUrl='<%=goods_image%>' desc = '<%=goods_info.goods_jingle%>' link = '/tmpl/product_detail.html?goods_id=<%=goods_info.goods_id%>'><img src="img/fenxiang.png" alt=""/></a></li>
			   <li><a href="http://chat32.live800.com/live800/chatClient/chatbox.jsp?companyID=662241&configID=91250&jid=5653872184" class="kefu"><img src="img/liantianjiqi.png" alt=""/></a></li>
		   </ul>
		   <div style="clear: both"></div>
                   
	   </div>
	   <div class="shop-m">
		   <p><%=goods_info.goods_name%></p>
			<% if (goods_info.promotion_type) { %>
			   <span>¥<%=goods_info.promotion_price%></span>
			   <% if (goods_info.promotion_type == "sole") { %>
				<span class="activity">手机专享</span>
				<% } %>
			<% } else { %>
				<span>¥<%=goods_info.goods_promotion_price%></span>
			<% } %>
		   <ul>
			   <li>运费: <%=goods_hair_info.content%></li>
			   <li>市场: ¥<%=goods_info.goods_marketprice%></li>
			   <li style="display:none">月销量<%=goods_info.goods_salenum%>件</li>
		   </ul>
		   <div style="clear: both"></div>
	   </div>
		<% if (goods_info.promotion_type == "xianshi" || goods_info.promotion_type == "groupbuy" || (mansong_info != null && mansong_info.rules) || (gift_array && !isEmpty(gift_array))) { %>
			
			<div class="shop-m" style="display:none">
		
			   <p>促销</p>
				
				<% if (goods_info.promotion_type == "xianshi") { %>
					<span><%=goods_info.title%></span>
					<span>直降¥<%=goods_info.down_price%></span>
					<% if( goods_info.lower_limit ) { %>
						<span class="activity">最低<%=goods_info.lower_limit%>件起，<%=goods_info.explain%></span>
					<%  } %>

				<% } else if (goods_info.promotion_type == "groupbuy") { %>
					
					<span><%=goods_info.title%></span>
					<% if (goods_info.upper_limit) { %>
					<span>最多限购<%=goods_info.upper_limit%>件</span>
					<%  } %>
					<span class="activity"><%=goods_info.remark%></span>

				<% } else if (mansong_info != null && mansong_info.rules) { %>
				
					<span>满即送</span>
					<% if (mansong_info != null && mansong_info.rules) { %>
						<% for (var i =0;i<mansong_info.rules.length;i++){ %>
							<span>
								单笔订单满<em><%=mansong_info.rules[i].price%></em>元
								<% if (mansong_info.rules[i].discount > 0) { %>
								，立减<em><%=mansong_info.rules[i].discount%></em>元
								<% } %>
								<% if (mansong_info.rules[i].goods_image_url) { %>
								，送礼品：<span><img src="<%=mansong_info.rules[i].goods_image_url%>"/></span>
								<% } %>
							</span>
						<% } %>
					<% } %>
					<span class="activity"><%=goods_info.remark%></span>
				
				<% } else if (gift_array && !isEmpty(gift_array)) { %>
					
					<span>赠品</span>
					<% for (var k in gift_array) { %>
					<% var v = gift_array[k]; %>
					<span>
						<a href="?goods_id=<%= v.gift_goodsid %>"><%= v.gift_goodsname %></a>
						<em>&#215; <%= v.gift_amount %></em>
					</span>
					<% } %>
					<span class="activity"><%=goods_info.remark%></span>
				
				<% } %>
				
			   <ul>
				   <li>运费: <%=goods_hair_info.content%></li>
				   <li>市场: ¥<%=goods_info.goods_marketprice%></li>
				   <li>月销量<%=goods_info.goods_salenum%>件</li>
			   </ul>
			   <div style="clear: both"></div>
		   </div>
			
		<% } %>
		<% if (voucher) { %>
	   <div class="youhuiquan">
		   <div class="genduo">
			   <i class="yuandian"></i>
			   <a  href="javascript:void(0);" id="getVoucher"><span><img src="img/youhuiquanbiaoti.png" alt=""/>更多优惠券</span>
			   <span>减满送 <img src="img/moreright.png" alt=""/></span></a>
		   </div>
	   </div>
	   <%}%>
	   <div class="tuihuan">
		   <ul>
			   <li><img src="img/qi.png" alt=""/><i>七天退换</i></li>
			   <li><img src="img/zheng.png" alt=""/><i>正品保证</i></li>
			   <li><img src="img/quan.png" alt=""/><i>品牌授权</i></li>
		   </ul>
	   </div>
	   <% if(favorites_data != null){ %>
	   <div class="yiduitx">
		   <ul class="guanzhu-l">
				<% for(var i in favorites_data){ %>
					<li><img src="<%=favorites_data[i].member_avatar%>" alt=""/></li>
				<% } %>
			   <li><img src="img/jairuxinyuand.png" alt=""/></li>
		   </ul>
	   </div>
	   <% } %>
	   <div class="hbs">
		   <div id="goodsEvaluation1">
			   <span>TA们是怎么说的 </span>
			   <span><img src="img/tamenzenms.png" alt=""/><img src="img/moreright.png" alt=""/></span>
			   <i style="clear: both"></i>
		   </div>
	   </div>
	   <div class="pinfeng">
		   <div>
			   <span>
				   <i>综合评分</i>
				   <%if(goods_info.evaluation_good_star != null) { %>
				   <ul>
					<% for(var i=0; i<goods_info.evaluation_good_star; i++) { %>
						<li><img src="img/start.png" alt=""/></li>
					<% } %>
				   </ul>
				   <% } %>
				   <i><%=goods_info.evaluation_good_star%>分</i>
				   
			   </span>
			   <span>更多<img src="img/moreright.png" alt=""/></span>
			   <i style="clear: both;"></i>
			   
		   </div>
		   <!-- <div class="store-rate">
				<span class="<%= store_info.store_credit.store_desccredit.percent_class %>" >
					描述相符
					<em><%= store_info.store_credit.store_desccredit.credit %></em>
					
				</span>
				<span class="<%= store_info.store_credit.store_servicecredit.percent_class %>" >
					服务态度
					<em><%= store_info.store_credit.store_servicecredit.credit %></em>
					
				</span>
				<span class="<%= store_info.store_credit.store_deliverycredit.percent_class %>" style="padding-left: 10px;">
					发货速度
					<em><%= store_info.store_credit.store_deliverycredit.credit %></em>
					
				</span>
			</div> -->
	   </div>
	   <div class="shangpm">
		   <i>商品描述</i>
		   <p><%=goods_info.goods_jingle%></p>
		   <u>
			   产品详情图
		   </u>
			<div id="goods_common_info_goods_body">
				<%==goods_common_info.goods_body%>
			</div>
			
	   </div>
	   <div class="dianpu">
		   <div class="dianpu-ren">
			   <span id="login_store">
				   <img src="<%=store_info.avatar%>" alt=""/>
				   <span>
					   <i><%=store_info.store_name%></i>
					   <u style="width: 150px;text-overflow: ellipsis;overflow: hidden;height: 15px;line-height: 15px;white-space: nowrap;"><%=store_info.gc_name%></u>
				   </span>
			   </span>
			   <a href="javascript:void(0)" onclick="favorites_store(<%=store_info.store_id%>)"><img id="favorites_store_img" src="img/jiaguanzhu.png" alt=""/></a>
		   </div>
		   <%if(goods_commend_list != null){ %>
		   <ul>
			<% for(var i in goods_commend_list) { %>
			   <li style="margin:0 5px 5px 0">
				<a href="product_detail.html?goods_id=<%=goods_commend_list[i].goods_id%>">
				<img style="height: 99px;" src="<%=goods_commend_list[i].goods_image_url%>" alt=""/>
				<i>¥<%=goods_commend_list[i].goods_price%></i>
				</a>
			   </li>
			<% } %>
		   </ul>
		   <% } %>
		   <div style="clear: both"></div>
	   </div>
	   <% if(guess_like != null) { %>
	   <div class="weinituijian">
		  <div class="wnt-tit">
			 <span>为你推荐</span>
			  <div class="tuijian-m">
				<% for(var i in guess_like) { %>
				  <div>
					<a href="product_detail.html?goods_id=<%=guess_like[i].goods_id%>">
					  <img src="<%=guess_like[i].goods_image%>" alt=""/>
					</a>
					  <span>
						<a href="product_detail.html?goods_id=<%=guess_like[i].goods_id%>">
						  <i><%=guess_like[i].goods_name%></i>
						  <u>¥<%=guess_like[i].goods_promotion_price%></u>
						</a>
					  </span>
				  </div>
				<% } %>

			  </div>
			  <div style="clear: both"></div>
		  </div>
	   </div>
		<% } %>
            
             <script>
                       
                        wx.ready(function(){
                            document.querySelector('#onMenuShareAppMessage').onclick = function () {
                                alert('已注册获取“发送给朋友”状态事件');
                                wx.onMenuShareAppMessage({
                                  title: '互联网之子1',
                                  desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
                                  link:  'http://movie.douban.com/subject/25785114/',
                                  imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
                                  trigger: function (res) {
                                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                                    alert('用户点击发送给朋友');
                                  },
                                  success: function (res) {
                                    alert('已分享');
                                  },
                                  cancel: function (res) {
                                    alert('已取消');
                                  },    
                                  fail: function (res) {
                                    alert(JSON.stringify(res));
                                  }
                                });

                            }

                        })
                       
                   </script>
                
	</script>

	<!--微信分享配置-->
	<script type="text/html" id="wx_share_model">

		<script>
			/*
			* 注意：
			* 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
			* 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
			* 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
			*
			* 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
			* 邮箱地址：weixin-open@qq.com
			* 邮件主题：【微信JS-SDK反馈】具体问题
			* 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
			*/
			wx.config({
                            debug: true,
                            appId: '<%=signPackage.appId;%>',
                            timestamp: '<%=signPackage.timestamp;%>',
                            nonceStr: '<%=signPackage.nonceStr;%>',
                            signature: '<%=signPackage.signature;%>',
                            jsApiList: [
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'onMenuShareQZone'
                            ]
			});
                        
                       
		</script>

	</script>
	
	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript" src="../js/common.js"></script> 
	<script type="text/javascript" src="../js/template.js"></script>
	<script type="text/javascript" src="../js/tmpl/product_detail_1_5.js"></script>
	<!-- S 提示 -->
	<script src="../js/layer.js" type="text/javascript" charset="utf-8"></script> 
	<!-- E 提示 -->
</body>
</html>